<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/management/layout.css">
    <link rel="stylesheet" href="/stylesheets/management/manage-common.css">
    <link rel="stylesheet" href="/stylesheets/management/manage-notice.css">
    <title>관리자 페이지</title>
</head>

<body>
    <div class="container">
        <%- include('./nav') %>
        <div class="section">
            <div class="section_title">
                농장 관리자님 환영합니다
            </div>
            <div class="section-contents">
                <h1 class='section-contents_title'>공지사항 관리</h1>
                <hr class='section-contents_hr_light'>
                <h2 class='section-contents_summary'>농장 공지사항 관리 페이지</h2>
                <div class="section-contents-NoticeTable_box">
                    <table class='section-contents-NoticeTable'>
                        <thead>
                            <tr>
                                <th class='NoticeTable-CheckBox NoticeTable-hr_border_bold'><input type="checkbox" id="head-checkbox-JS"></th>
                                <th class='NoticeTable-number NoticeTable-hr_border_bold'>No</>
                                <th class='NoticeTable-title NoticeTable-hr_border_bold'>제목</th>
                                <th class='NoticeTable-writer NoticeTable-hr_border_bold'>작성자</th>
                                <th class='NoticeTable-visitor NoticeTable-hr_border_bold'>조회수</th>
                                <th class='NoticeTable-CreatedDate NoticeTable-hr_border_bold'>작성일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% 
                            let i = 1;
                            for(;i<=contents.length;i++){%>
                            <form action="/admin/notice-delete" method="POST">
                                <tr>
                                    <td class='NoticeTable-CheckBox NoticeTable-WhiteSpace  NoticeTable-hr_border_light'>
                                        <input type="checkbox" name="<%=i%>" id="checkbox-JS">
                                    </td>
                                    <td class='NoticeTable-number NoticeTable-WhiteSpace  NoticeTable-hr_border_light'>    
                                        <%=contents[i-1].idx%>
                                    </td>
                                    <td class='NoticeTable-title NoticeTable-WhiteSpace NoticeTable-hr_border_light'>
                                        <a href="/admin/view-notice/<%=contents[i-1].idx%>"> <%=contents[i-1].title%>
                                        </a>
                                    </td>
                                    <td class='NoticeTable-writer NoticeTable-WhiteSpace NoticeTable-hr_border_light'>
                                        관리자
                                    </td>
                                    <td class='NoticeTable-visitor NoticeTable-WhiteSpace NoticeTable-hr_border_light'>
                                        <%=contents[i-1].viewcount%>
                                    </td>
                                    <td
                                        class='NoticeTable-CreatedDate NoticeTable-WhiteSpace NoticeTable-hr_border_light'>
                                        <%
                                     var data = new Date(contents[i-1].createdate)
                                    var date=`${data.getFullYear()}.${data.getMonth()+1}.${data.getDate()}`
                                     %>
                                        <%= date %>
                                    </td>
                                </tr>
                                <% }%>
                        </tbody>
                    </table>
                    <div class=" sub_function-box">
                        <button type='submit' class="select_delete-button sub_function-button" id='delete_notice-js'>선택
                            삭제</button>
                        </form>
                        <div class="paging-box">

                        </div>
                        <button class="insert_notice-button sub_function-button" id='write_notice-js'>글쓰기</button>
                        <button class="insert_notice-button sub_function-button" id='logout-js'>로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=" /javascripts/management/notice.js"></script>
</body>

</html>