<%- include('../header') %>
<!-- HEADER -->

<!-- DIARY MAIN PAGE -->
<link rel="stylesheet" href="./stylesheets/diary/diary.css" />
<div class="diary-banner banner">DIARY</div>
<div class="main">
    <div class="diary-container container">
        <div class="diary-content content">
            <!-- DIARY CONTENT AREA -->
            <%- include('./calendar') %>
            <%- include('./schedule') %>
            <!-- DIARY CONTENT AREA -->
        </div>
        <!-- <div class="content"><%- // include('./flip-calendar') %></div> -->
    </div>
</div>
<!-- DIARY MAIN PAGE -->
<%- include('../footer') %>
<!-- FOOTER -->

<!--
    https://codepen.io/nizarmah/pen/LkjjWV
    JAVASCRIPT LIBRARY
-->