<%- include('../header') %>
<!-- HEADER -->

<!-- SUPPORT/NOTICE CONTENT MAIN PAGE -->
<link rel="stylesheet" href="/stylesheets/support/support.css">
<link rel="stylesheet" href="/stylesheets/support/notice_content.css">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<div class="support-banner banner">SUPPORT</div>
<div class="main">
    <div class="support_notice_contents_container container">
        <div class="support_notice_contents_box content">
            <div class="support_path_box">
                <ul class='support_path_nav'>
                    <li class='support_path_list'>
                        <a href="#">농장 지원</a>
                    </li>
                    <li class='support_path_list'>
                        <a href="#">공지사항</a>
                    </li>
                    <li class='support_path_list'>
                        <a href="#"><%=contents[idx-1].title%></a>
                    </li>
                </ul>
            </div>
            <div class="notice_contents_box">
                <% var length=contents.length; %>
                <p class='notice_contents_title'><%=contents[idx-1].title%></p>
                <div class="profile_box">
                    <img src="/images/product.jpg" class='circle_logo_position' alt="프로필">
                    <ul class='profile_nav'>
                        <li>농장</li>
                        <li>관리자</li>
                    </ul>
                </div>
                <div class="notice_content ql-container ql-snow">
                    <div class="ql-editor">
                        <%-contents[idx-1].content%>
                    </div>
                </div>
            </div>
            <div class="page_next_prev_box">
                <div class="page_prev">
                    <div class="PrevIcon_box">
                        <a href="../notice_content/<%=idx-1%>"> <img src="/images/support/page_prev_icon.svg" alt="">이전글</a>
                    </div>
                    <div class="prev_contents">
                        <% if(idx-2 <0){%>
                        이전글이 없습니다
                        <%} else {%>
                        <%= contents[idx-1].title %>
                        <%}%>
                    </div>
                    <div class="prev_CreatedDate">
                        <% if(idx-2 <0){%>
                            X
                        <%} else {
                                var data = new Date(contents[idx-1].createdate)
                                var date = `${data.getFullYear()}.${data.getMonth()+1}.${data.getDate()}` %>
                        <%= date %>
                        <%}%>
                    </div>
                </div>
                <div class="page_next">
                    <div class="NextIcon_box">
                        <a href="../notice_content/<%=idx+1%>"> <img src="/images/support/page_next_icon.svg" alt="">다음글</a>
                    </div>
                    <div class="next_contents">
                        <% if(idx+1 > contents.length){%>
                        다음글이 없습니다
                        <%} else {%>
                        <%- contents[idx].title %>
                        <%}%>
                    </div>
                    <div class="next_CreatedDate">
                        <% if(idx+1 > contents.length){%>
                            X
                        <%} else {          
                            var data = new Date(contents[idx].createdate)
                            var date = `${data.getFullYear()}.${data.getMonth()+1}.${data.getDate()}` %>
                            <%= date %>
                        <%} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- SUPPORT/NOTICE CONTENT MAIN PAGE -->
<%- include('../footer') %>
<!-- FOOTER -->