<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="인바이즈,다이얼 키패드 키패드, 다이얼 ,편집 컨트롤러,INVAIZ,Dial Keypad" />
  <meta name="Author" content="인바이즈, INVAIZ" />
  <meta name="Keywords" content="인바이즈, INVAIZ, 다이얼 키패드, 키패드, 다이얼, 편집 컨트롤러, Dial Keypad" />
  <meta name="Subject" content="인바이즈, INVAIZ" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="인바이즈, INVAIZ" />
  <meta property="og:description" content="인바이즈, INVAIZ, 다이얼 키패드, 키패드, 다이얼, 편집 컨트롤러, Dial Keypad" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="canonical" href="http://invaiz.com" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/menu.css" />
  <!-- <link rel="stylesheet" href="stylesheets/media.css" /> -->
  <link rel="stylesheet" href="/stylesheets/header.css" />
  <link rel="stylesheet" href="/stylesheets/support_header.css">
  <link rel="stylesheet" href="/stylesheets/support.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">

  <!-- <link rel="stylesheet" href="stylesheets/fadein.css"> -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
  <script type="text/javascript" src="javascripts/mobile.js"></script>
  <title>INVAIZ</title>
</head>

<body>
  <%- include('../header') %>
  <%- include('../support/support_header') %>
  <div class="invaiz_support_contents_container">
    <div class="invaiz_support_contents_box">
      <div class="invaiz_support_logo_box">
        <img src="images/notice_logo.svg" alt="">
      </div>
      <div class="invaiz_search_box">
        <input type="text" placeholder="INVAIZ 다이얼 키패드 이용관련 검색">
        <button>조회하기</button>
      </div>
      <div class="invaiz_support_path_box">
        <ul class='invaiz_support_path_nav'>
          <li class='invaiz_support_path_list'>
            <a href="#">인바이즈 지원</a>
          </li>
          <li class='invaiz_support_path_list'>
            <a href="#">공지사항</a>
          </li>

        </ul>
      </div>
      <!-- <div class="invaiz_support_title_box">
        <h2>공지사항</h2>
      </div> -->
      <div class="invaiz_support_notice_box">
        <table id='invaiz_support_notice_table'>
          <tr>
            <th class='invaiz_table_header_border invaiz_table_ColNumber_style'>NO</th>
            <th class='invaiz_table_header_border invaiz_table_Title_style'>제목</th>
            <th class='invaiz_table_header_border invaiz_table_CreatedDate_style'>작성일</th>
            <th class='invaiz_table_header_border invaiz_table_ViewCount_style'>조회수</th>
          </tr>
          <%
          let i = 1;
          console.log(contents.length)
          for( ;i<=contents.length;i++){%>
          <tr>
            <td class='invaiz_table_contents_border  invaiz_table_ColNumber_style'>
              <%= contents[i-1].idx %> </td>
            <td class='invaiz_table_contents_border invaiz_table_Title_style'>
              <a href="notice_content/<%=contents[i-1].idx %>"><%= contents[i-1].title %></a>
            </td>
            </td>
            <td class="invaiz_table_contents_border  invaiz_table_CreatedDate_style">
              <%
              var data = new Date(contents[i-1].createdate)
              var date=`${data.getFullYear()}.${data.getMonth()+1}.${data.getDate()}`
              %>
              <%= date %></td>
            </td>
            <td class="invaiz_table_contents_border  invaiz_table_ViewCount_style">
              <%= contents[i-1].viewcount %>
            </td>
          </tr>
          <% }%>
        </table>
        <div class="invaiz_table_page">
          <%  let cnt = 0;
           if(AllRows.length <=10) { %>
          <a href="page=<%=1%>">1</a>
          <%} else {  
            if(AllRows.length% 10 === 0 ){
              cnt = AllRows.length / 10;

            }
            else {
              cnt = (AllRows.length / 10) +1 ;
            }
          }%>
          <%
          for(let page = 1 ; page<=cnt; page++ ){%>
          <a href="page=<%=page%>"><%= page %></a>
          <%}%>
          <%# 
          <a href="#"><img src="/images/double_left_cursor.svg" alt=""></a>
          <a href="#"> <img src="/images/left_cursor.svg" alt=""></a>
          <a href=""> <img src="/images/right_cursor.svg" alt=""></a>
          <a href="#"><img src="/images/double_right_cursor.svg" alt=""></a>
          %>

        </div>
      </div>
    </div>
  </div>
  <%- include('../footer') %>
</body>

</html>